rules:
    - \PhoneBurner\SaltLite\Phpstan\Rules\InvokableMessageClassesMustBeInvokableRule
    - \PhoneBurner\SaltLite\Phpstan\Rules\DeferrableServiceProvidersMustProvideAllServicesRule
    - \PhoneBurner\SaltLite\Phpstan\Rules\ServiceProvidersMustBeRegisteredRule
    - \PhoneBurner\SaltLite\Phpstan\Rules\CommandsMustHaveAsCommandAttributeRule
    - \PhoneBurner\SaltLite\Phpstan\Rules\CommandsMustBeRegisteredRule